.Profile {
    width: auto;
    height: auto;
    background: var(--background-color);
    background: linear-gradient(to right, var(--primary-color) 50%, var(--background-color) 50%);
    background-size: 205% 100%;
    background-position: right bottom;
    border-radius: var(--border-radius);
    border: 0.125rem solid var(--primary-color);
    padding: 0.3rem 1.25rem;
    margin-right: 0.5rem;
    transition: all 0.1s ease-out;
    font-size: 1rem;
    color: var(--primary-color);
}

.Profile:hover {
    background-position: left bottom;
    color: var(--background-color);
}

.Profile svg {
    height: 1rem;
    width: 1rem;
    margin-right: 0.25rem;
    margin-bottom: -0.05rem;
}

.Profile:hover svg {
    filter: invert(1);
}

.SlideContainer {
    white-space: nowrap;
    margin: 0 -2.5rem;
    padding: var(--page-padding);
    padding-bottom: 0.5rem;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.SlideContainer::-webkit-scrollbar {
    display: none;
}

@media (min-width: 1200px) {
    .SlideContainer {
        overflow: visible;
    }
}

/* Show scrollbar if desktop and wrapper width > viewport width */
@media (hover: hover) {
    .SlideContainer {
        scrollbar-color: var(--scroll-bar-color); /* Firefox only */
    }
    .SlideContainer::-webkit-scrollbar {
        display: block;
        -webkit-appearance: none;
    }
    .SlideContainer::-webkit-scrollbar:horizontal {
        height: 0.8rem;
    }
    .SlideContainer::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 0.2rem solid var(--background-color);
        background-color: var(--scroll-bar-color);
    }
    .SlideContainer::-webkit-scrollbar-track {
        background-color: var(--background-color);
        border-radius: 8px;
    }
}
