.Card {
    width: 16.25rem;
    height: auto;
    min-height: 12rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem 2.5rem 2rem 0;
    box-shadow: 0 5px 15px var(--box-shadow-color);
    border-radius: var(--border-radius);
    background: var(--card-color);
    white-space: normal;
    transition: box-shadow 0.3s ease-out;
}

.Card:hover {
    box-shadow: 0 5px 15px var(--box-shadow-hover-color);
}

.Card .Banner {
    height: 5rem;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    background: var(--tertiary-color);
}

.Card .ImageWrapper {
    height: 100%;
    max-height: 5rem;
}

.Card .Image {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.Card .DescriptionWrapper {
    height: auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Card .Category {
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: +1px;
    font-weight: 700;
}

.Card .Title {
    margin: 0.25rem 0;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.Card .Details {
    font-size: 0.75rem;
    color: var(--subtext-color);
    letter-spacing: +0.5px;
}

.Card .ReadingTime {
    margin-left: 0.25rem;
}

.Card .ReadingTime::before {
    content: '–';
    margin-right: 0.25rem;
}
