.Projects {
    display: flex;
    flex-direction: row;
    margin-top: -2rem;
}

.MoreProjects {
    margin-top: 4rem;
    text-align: center;
}

@media (min-width: 992px) {
    .Projects {
        flex-direction: column;
        margin-top: 0;
    }
    .MoreProjects {
        margin-top: 0;
    }
}
