name: Release

on:
    push:
        branches:
            - main

jobs:
    build-and-test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - uses: actions/setup-node@v1
              with:
                  node-version: 12
            - run: yarn install
            - run: yarn test

    publish:
        needs: build-and-test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - uses: actions/setup-node@v1
              with:
                  node-version: 12
                  registry-url: https://registry.npmjs.org/
            - run: yarn install
            - run: yarn workspace gatsby-theme-portfolio-minimal semantic-release --branches main --dry-run --debug
              env:
                  NPM_TOKEN: ${{secrets.NPM_TOKEN}}
                  NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
                  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
